[MASTER]
ignore=tests

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    broad-exception-caught,
    invalid-name,
    import-error

[FORMAT]
max-line-length=100
